$primary-color: #62c6f8;
$aside-color: #d9e4e9;
$border-color: #c8c8c8;

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	max-width: 1240px;
	margin: 0 auto;
}

.top{
	margin-top: 10px;
	.top_left{
		width: 400px;
		float: left;

		a{
			float: left;
			margin-right: 15px;
		}
	
		div{
			float: left;
			text-align: center;
			margin-top: 15px;
		}
	}
	.top_right{
		width: 315px;
		float: right;
		margin-top: 10px;
		padding-left: 18px;

		p{
			float: left;
			margin-top: 10px;
			margin-right: 10px;
		}

		a{
			float: left;
			margin-right: 10px;
		}

		p:last-child{
			color: #4cc1fc;
			font-weight: bold;
			font-size: 20px;
		}
	}
}


.bottom{
	.bottom_left{
		float: left;

		ul{
			list-style: none;
			margin: 15px 0px;

			li{
				display: inline;
				padding: 16px 20px;
				border-right: 1px solid $border-color;

				a{
					text-decoration: none;
					color: $border-color;
				}
			}
		}
	}

	.bottom_right{
		width: 105px;
		float: right;
		padding-left: 17px;
		margin-top: 12px;

		ul{
			list-style: none;

			li{
				display: inline;
				text-decoration: none;
				margin: 0 2px;
			}
		}
	}
}


.panel{
	background: url(../images/panel.jpg) no-repeat scroll;
	height: 170px;
	margin-bottom: 50px;
	border-top: 1px solid $border-color;

	.container{
		p{
			padding-top: 70px;
		}
	}
}

.line{
	border-top: 1px solid $border-color;
}

.side_bar{
	width: 24%;
	float: left;
	
	.adult{
		ul{
			li{
				margin: 10px 0;
				margin-left: 40px;
			}
		}
	}

	.adult,
	.child{
		>p{
			background-color: $aside-color;
			padding: 10px 0px;
			padding-left: 10px;
		}

		a{
			text-decoration: none;
			color: #000;
		}
	}
}


.make_appointment{
	margin-top: 40px;
	padding: 15px 15px;
	background-color: $aside-color;

	p{
		margin-bottom: 30px;
	}

	div{
		margin: 10px 0;
		text-align: center;

		input{
			width: 95%;
			height: 30px;
		}

		button{
			// background-image: linear-gradient(
   //      rgba(255,255,255,0.6),
   //      rgba(0,0,0,0.6)
   //    );
			background-color: #4bbc56;
			color: #fff;
			padding: 10px 20px;
			border-radius: 10px;
		}

		// button:hover{
		// 	background-color: $primary-color;
		// 	transition: 2s;
		// 	transform: rotate(360deg);
		// }
	}
}

main{
	margin-bottom: 20px;
}

.content{

	width: 74.5%;
	float: right;

	ul{
		list-style: none;

		li{
			float: left;
			width: 33.33%;
			padding: 0 10px;
		}
	}

	.item{
		
		div{

			.title{
				font-weight: bold;
			}

			a:nth-child(3) p{
				line-height: 20px;
			}

			a:last-child{
				width: 20px;
				height: 20px;
				position: absolute;
				background-color: $primary-color;
				right: 0;	
				bottom: 0;
				padding-left: 5px;
				padding-right: 5px
			}

			a{
				text-decoration: none;
				color: #282828;

				p{
					padding-left: 15px;
				}
			}

			>a>img{
				width: 100%;
			}

			p{
				margin: 15px 0;
			}
		}

		>div{
			position: relative;
			padding-bottom: 30px;
			margin-bottom: 20px;
			border: 1px solid $border-color;
		}
	}
}

footer{
	background-color: $primary-color;
}

.container .list_info{
	list-style: none;
	color: #fff;
	padding: 20px 0;
	
	.item{
		float: left;
		padding: 15px 0;
		padding-right: 200px;

		> p{
			margin: 20px 0;
			font-weight: bold;
			font-size: 18px;
		}

		ul li{
			line-height: 30px;
			list-style: disc;
		}
	}

	.item:first-child,
	.item:nth-child(2){
		ul{
			padding-left: 17px;
		}
	}

	.item:nth-child(3) {
		ul{
			list-style: none;

			li{
				padding-left: 40px;
				list-style: none;
			}

			li:first-child{
				background: url(../images/social/facebook_white.png) no-repeat scroll left center;
			}

			li:nth-child(2){
				background: url(../images/social/google+_white.png) no-repeat scroll left center;
			}

			li:last-child{
				background: url(../images/social/youtube_white.png) no-repeat scroll left center;
			}
		}
	}

	.item:nth-child(3n+1){
		clear: left;
	}

	.footer_left{
		float: left;
	}

	.footer_right{
		float: right;

		span{
			color: #7bedd3;
		}
	}
}


.clr::after{
	content: "";
	display: block;
	clear: both;
}

#jump {
    background-color: green; /* Màu vàng */
    animation: jump 1s ease 0s infinite normal;
    -webkit-animation: jump 1s ease 0s infinite normal; /*Dùng cho Safari và Chrome*/
}
@keyframes jump {
    /* 0% sẽ có màu mặc định là màu vàng */
    // 50% {background-color: #06F; /* Màu xanh*/ }
    // 100% {background-color: #F00; /* Màu đỏ */}
    0%{ transform:translateY(0); }
		20%{ transform:translateY(0); }
		40%{ transform:translateY(-15px); }
		50%{ transform:translateY(0); }
		60%{ transform:translateY(-15px); }
		80%{ transform:translateY(0); }
		100%{ transform:translateY(0); }
}