<!DOCTYPE html>
<html>
<head>
	<title>index.html</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<header >
		<div class="container">

			<div class="top">

				<div class="top_left">
					<img src="../images/logo.png">
					<p>
						<b>PHÒNG KHÁM CHUYÊN KHOA</b> <br>
						Vật lý trị liệu - Phục hồi chức năng
					</p>
				</div>

				<div class="top_right">
					<img src="../images/phone.png">
					<p>
						<b>Câu hỏi cho bác sĩ?</b> 05113941977
					</p>
				</div>

			</div>
			
			<div class="bottom">

				<div class="bottom_left">
					<nav>
						<ul>
							<li>
								<a href="#">TRANG CHỦ</a>
							</li>
							<li>
								<a href="#">GIỚI THIỆU</a>
							</li>
							<li>
								<a href="#">DỊCH VỤ Y TẾ</a>
							</li>
							<li>
								<a href="#">Y HỌC THƯỜNG THỨC</a>
							</li>
							<li>
								<a href="#">ĐẶT LỊCH KHÁM</a>
							</li>
							<li>
								<a href="#">TƯ VẤN & LIÊN HỆ</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="bottom_right">
					<ul>
						<li>
							<img src="../images/social/facebook.png">
						</li>
						<li>
							<img src="../images/social/google+.png">
						</li>
						<li>
							<img src="../images/social/youtube.png">
						</li>
					</ul>
				</div>

			</div>

		</div>

		<div class="panel">
			<div class="container">
				<img src="../images/panel.jpg">
				<p>
					TRANG CHỦ / DỊCH VỤ Y TẾ
				</p>
			</div>
		</div>
	</header>

	<main>
		<div class="container">
			<aside class="side_bar">

				<div class="adult">
					<p>NGƯỜI LỚN</p>
					<ul>
						<li>
							<p>Đau tay - Cổ vai</p>
						</li>
						<li>
							<p>Đau cột sống</p>
						</li>
						<li>
							<p>Thoát vị đĩa đệm</p>
						</li>
						<li>
							<p>Khớp gối, khớp hông</p>
						</li>
						<li>
							<p>Đau chân</p>
						</li>
						<li>
							<p>Các bên về cơ</p>
						</li>
						<li>
							<p>Thần kinh ngoại biên</p>
						</li>
						<li>
							<p>Di chứng tai biến mạch máu não</p>
						</li>
						<li>
							<p>Di chứng chấn thương</p>
						</li>
					</ul>
				</div>

				<div class="child">
					<p>TRẺ EM</p>
				</div>

				<div class="make_appointment">
					<p><b>ĐẶT LỊCH KHÁM</b></p>
					<form action="" method="post">
						<div>
							<input type="text" name="name" placeholder="Họ & Tên">
						</div>
						<div>
							<input type="text" name="address" placeholder="Địa chỉ">
						</div>
						<div>
							<input type="text" name="phone" placeholder="Số điện thoại">
						</div>
						<div>
							<input type="date" name="time" placeholder="Thời gian">
						</div>
						<div>
							<button type="submit"><b>ĐẶT LỊCH</b></button>
						</div>
					</form>
				</div>

			</aside>

			<div class="content">
				<ul>
					<li>
						<div>
							<img src="../images/shoulder-hurt.jpg">
							<p><b>ĐAU CỔ TAY VAI</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/spine-hurt.jpg">
							<p><b>ĐAU CỘT SỐNG</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/disc-herniation.jpg">
							<p><b>THOÁT VỊ ĐĨA ĐỆM</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/mother-baby.jpg">
							<p><b>CHẬM NÓI</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/knee-hurt.jpg">
							<p><b>CHẬM NÓI</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/foot-hurt.jpg">
							<p><b>CHẬM NÓI</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/head-hurt.jpg">
							<p><b>CHẬM NÓI</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/heart-hurt.jpg">
							<p><b>CHẬM NÓI</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
					<li>
						<div>
							<img src="../images/foot-hurt-2.jpg">
							<p><b>CHẬM NÓI</b></p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</main>

	<footer>
		<div>
			<section class="about_room">
				<p><b>VỀ PHÒNG KHÁM</b></p>
				<ul>
					<li>GIỚI THIỆU CHUNG</li>
					<li>NHÂN LỰC</li>
					<li>TRANG THIÊT BỊ VÀ CƠ SƠ VÂT CHẤT</li>
				</ul>
			</section>
				
			<section class="support">
			<p><b>HỖ TRỢ</b></p>
				<ul>
					<li>TƯ VẤN SỨC KHỎE</li>
					<li>Y HỌC THƯỜNG THỨC</li>
					<li>ĐẶT LỊCH KHÁM</li>
				</ul>
			</section>
			
			<section class="connect_social">
			<p><b>KẾT NỐI XÃ HỘI</b></p>
				<ul>
					<li>
						<img src="../images/social/facebook.png">
						<span>FACEBOOK</span>
					</li>
					<li>
						<img src="../images/social/google+.png">
						<span>GOOGLE+</span>
					</li>
					<li>
						<img src="../images/social/youtube.png">
						<span>YOUTUBE</span>
					</li>
				</ul>
			</section>	
		</div>
		<div>
			<div class="footer_left">
				<p>@ 2015 - BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN KHOA</p>
			</div>

			<div class="footer_right">
				<p>PHÁT TRIỂN BỞI KONO.VN</p>
			</div>
		</div>
	</footer>

</body>
</html>