<!DOCTYPE html>
<html>
<head>
	<title>index.html</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
</head>
<body>
	<header >
	<!-- <div style="height: 140px"></div> -->
		<div class="container">

			<div class="top clr">

				<div class="top_left">
					<a href=""><img src="../images/logo.png"></a>
					<div>
						<p>PHÒNG KHÁM CHUYÊN KHOA</p>
						<p>Vật lý trị liệu - Phục hồi chức năng</p>
					</div>
				</div>

				<div class="top_right clr">
					<a href=""><img src="../images/phone.png"></a>
					<p>Câu hỏi cho bác sĩ?</p>
					<p>05113941977</p>
				</div>

				<!-- <div class="clear"></div> -->
			</div>
		</div>
		<div class="line">
			<div class="container">
				<div class="bottom clr">

					<div class="bottom_left">
						<nav>
							<ul>
								<li>
									<a href="#">TRANG CHỦ</a>
								</li>
								<li>
									<a href="#">GIỚI THIỆU</a>
								</li>
								<li>
									<a href="#">DỊCH VỤ Y TẾ</a>
								</li>
								<li>
									<a href="#">Y HỌC THƯỜNG THỨC</a>
								</li>
								<li>
									<a href="#">ĐẶT LỊCH KHÁM</a>
								</li>
								<li>
									<a href="#">TƯ VẤN & LIÊN HỆ</a>
								</li>
							</ul>
						</nav>
					</div>

					<div class="bottom_right">
						<ul>
							<li>
								<a href="https://www.facebook.com" target="_blank"><img src="../images/social/facebook.png"></a>
							</li>
							<li>
								<a href=""><img src="../images/social/google+.png"></a>
							</li>
							<li>
								<a href=""><img src="../images/social/youtube.png"></a>
							</li>
						</ul>
					</div>
					<!-- <div class="clear"></div> -->
				</div>

			</div>
		</div>
		<div class="panel">
			<div class="container">
				<p>
					TRANG CHỦ / DỊCH VỤ Y TẾ
				</p>
			</div>
		</div>
	</header>

	<main>
		<div class="container clr">
			<aside class="side_bar">

				<div class="adult">
					<p>NGƯỜI LỚN</p>
					<ul>
						<li>
							<p><a href="">Đau tay - Cổ vai</a></p>
						</li>
						<li>
							<p><a href="">Đau cột sống</a></p>
						</li>
						<li>
							<p><a href="">Thoát vị đĩa đệm</a></p>
						</li>
						<li>
							<p><a href="">Khớp gối, khớp hông</a></p>
						</li>
						<li>
							<p><a href="">Đau chân</a></p>
						</li>
						<li>
							<p><a href="">Các bên về cơ</a></p>
						</li>
						<li>
							<p><a href="">Thần kinh ngoại biên</a></p>
						</li>
						<li>
							<p><a href="">Di chứng tai biến mạch máu não</a></p>
						</li>
						<li>
							<p><a href="">Di chứng chấn thương</a></p>
						</li>
					</ul>
				</div>

				<div class="child">
					<p>TRẺ EM</p>
				</div>

				<div class="make_appointment">
					<p><b>ĐẶT LỊCH KHÁM</b></p>
					<form action="" method="post">
						<div>
							<input type="text" name="name" placeholder="Họ & Tên">
						</div>
						<div>
							<input type="text" name="address" placeholder="Địa chỉ">
						</div>
						<div>
							<input type="text" name="phone" placeholder="Số điện thoại">
						</div>
						<div>
							<input type="date" name="time" placeholder="Thời gian">
						</div>
						<div>
							<button id="jump" type="submit"><b>ĐẶT LỊCH</b></button>
						</div>
					</form>
				</div>

			</aside>

			<div class="content">
				<ul class="clr">
					<li class="item">
						<div>
							<a href=""><img src="../images/shoulder-hurt.jpg"></a>
							<a href="" class="title"><p>ĐAU CỔ TAY VAI</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/spine-hurt.jpg"></a>
							<a href="" class="title"><p>ĐAU CỘT SỐNG</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/disc-herniation.jpg"></a>
							<a href="" class="title"><p>THOÁT VỊ ĐĨA ĐỆM</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/mother-baby.jpg"></a>
							<a href="" class="title"><p>CHẬM NÓI</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/knee-hurt.jpg"></a>
							<a href="" class="title"><p>CHẬM NÓI</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/foot-hurt.jpg"></a>
							<a href="" class="title"><p>CHẬM NÓI</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/head-hurt.jpg"></a>
							<a href="" class="title"><p>CHẬM NÓI</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/heart-hurt.jpg"></a>
							<a href="" class="title"><p>CHẬM NÓI</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
					<li class="item">
						<div>
							<a href=""><img src="../images/foot-hurt-2.jpg"></a>
							<a href="" class="title"><p>CHẬM NÓI</p></a>
							<a href=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuct ut labore et dolore magna</p></a>
							<a href=""><img src="../images/arrow.png"></a>
						</div>
					</li>
				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</div>
	</main>

	<footer>
		<div class="container">
			<ul class="list_info clr">
				<li class="item">
					<p>VỀ PHÒNG KHÁM</p>
					<ul>
						<li>GIỚI THIỆU CHUNG</li>
						<li>NHÂN LỰC</li>
						<li>TRANG THIÊT BỊ VÀ CƠ SƠ VÂT CHẤT</li>
					</ul>
				</li>
				<li class="item">
					<p>HỖ TRỢ</p>
					<ul>
						<li>TƯ VẤN SỨC KHỎE</li>
						<li>Y HỌC THƯỜNG THỨC</li>
						<li>ĐẶT LỊCH KHÁM</li>
					</ul>
				</li>
				<li class="item">
					<p>KẾT NỐI XÃ HỘI</p>
					<ul>
						<li>FACEBOOK</li>
						<li>GOOGLE</li>
						<li>YOUTUBE</li>
					</ul>
				</li>
			</ul>
		</div>
		
		<!-- <div class="container">
			<section class="about_room">
				<p><b></b></p>
				<ul>
					<li></li>
					<li>+</li>
					<li></li>
				</ul>
			</section>
				
			<section class="support">
			<p><b></b></p>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</section>
			
			<section class="connect_social">
			<p><b></b></p>
				<ul>
					<li>
						<img src="../images/social/facebook.png">
						<span></span>
					</li>
					<li>
						<img src="../images/social/google+.png">
						<span></span>
					</li>
					<li>
						<img src="../images/social/youtube.png">
						<span></span>
					</li>
				</ul>
			</section>	
		</div> -->
		<div class="line">
			<dir class="container">
				<div class="list_info clr">
					<div class="footer_left">
						<p>@ 2015 - BẢN QUYỀN THUỘC PHÒNG KHÁM CHUYÊN KHOA</p>
					</div>

					<div class="footer_right">
						<p>PHÁT TRIỂN BỞI <span>KONO.VN</span></p>
					</div>
				</div>
			</dir>
		</div>
	</footer>

</body>
</html>
